@model GolfBag

<h1>Add a Club To Your Bag</h1>

<form method="post" action="/golfbags/@Model.Id">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <br />
    <button type="submit">Add Club</button>
</form>