@model GolfBag

<h1>Golf Bag Details</h1>

<p>Id: @Model.Id</p>

<p>Player: @Model.Player</p>

<p>Capacity: @Model.Capacity</p>

<strong>Clubs:</strong>
@foreach(var club in Model.Clubs)
{
    <p>@club.Name</p>
}